<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeLeaf.org" th:fragment="layout(content)">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- Tell the browser to be responsive to screen width -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <!-- Favicon icon -->
	    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
	    <title>Hostel Management System</title>
	    <!-- Custom CSS -->
	    <link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
	    <link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
	    <link th:href="@{/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" rel="stylesheet">
	    <!-- Custom CSS -->
	    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
	    
	</head>

	<body>
	    <div class="preloader">
	        <div class="lds-ripple">
	            <div class="lds-pos"></div>
	            <div class="lds-pos"></div>
	        </div>
	    </div>
	
	    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
	        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
	
	        <header class="topbar" data-navbarbg="skin6">
	            <nav class="navbar top-navbar navbar-expand-md">
	                <div class="navbar-header" data-logobg="skin6">
	                    <!-- This is for the sidebar toggle which is visible on mobile only -->
	                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
	                            class="ti-menu ti-close"></i></a>
	                    <div class="navbar-brand">
	                        <a href="dashboard">
	                            <b class="logo-icon">
	                                <img th:src="@{/assets/images/logo-icon-nav.png}" alt="homepage" class="dark-logo" />
	                                <img th:src="@{/assets/images/logo-icon-nav.png}" alt="homepage" class="light-logo" />
	                            </b>
	                            <span class="logo-text">
	                                <img th:src="@{/assets/images/logo-text-nav.png}" alt="homepage" class="dark-logo" />
	                                <img th:src="@{/assets/images/logo-light-text.png}" class="light-logo" alt="homepage" />
	                            </span>
	                        </a>
	                    </div>
	                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
	                        data-toggle="collapse" data-target="#navbarSupportedContent"
	                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
	                            class="ti-more"></i></a>
	                </div>
	                <div class="navbar-collapse collapse" id="navbarSupportedContent">
	                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1 pr-3"></ul>
	                    <ul class="navbar-nav float-right">
	                        <li class="nav-item dropdown">
	                                <img th:src="@{/assets/images/users/admin-icn.png}" alt="user" class="rounded-circle"
	                                    width="35">

	                                <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> 
	                                <span class="text-dark mr-3">Admin</span> 
	                            
	                        </li>
	                    </ul>
	                </div>
	            </nav>
	        </header>
	        <!-- End Topbar header -->
	
	        <!-- Left Sidebar - style you can find in sidebar.scss  -->
	        <aside class="left-sidebar" data-sidebarbg="skin6">
	            <div class="scroll-sidebar" data-sidebarbg="skin6">
	                <nav class="sidebar-nav">
	
	                    <ul id="sidebarnav">
	                    
	                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="dashboard" aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span></a></li>
	                        <li class="list-divider"></li>
	                        <li class="nav-small-cap"><span class="hide-menu">Features</span></li>
	                                            
	                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="reg_student"
	                        aria-expanded="false"><i class="fas fa-user-plus"></i><span
	                        class="hide-menu">Register Student</span></a></li>
	
	                        <li th:classappend="${activef}" class="sidebar-item"> <a class="sidebar-link sidebar-link" href="login_student"
	                        aria-expanded="false"><i class="fas fa-h-square"></i><span
	                        class="hide-menu">Fess Payment</span></a></li>
	
	                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="view_student"
	                        aria-expanded="false"><i class="fas fa-user-circle"></i><span
	                        class="hide-menu">View Student Acc.</span></a></li>
	
	                        <li th:classappend="${activer}" class="sidebar-item"> <a class="sidebar-link sidebar-link" href="manage_rooms"
	                        aria-expanded="false"><i class="fas fa-bed"></i><span
	                        class="hide-menu">Manage Rooms</span></a></li>
	
	                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="mess_menu"
	                        aria-expanded="false"><i class="fas fa-book"></i><span
	                        class="hide-menu">Mess Menu</span></a></li>
	                                        
	                    </ul>
	                </nav>
	            </div>
	        </aside>
	        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
			
			<div th:replace="${content}"></div>
			
	    </div>
	
	    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	    <!-- apps -->
	    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
	    <script th:src="@{/dist/js/feather.min.js}"></script>
	    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
	    <script src="../dist/js/sidebarmenu.js"></script>
	    <!--Custom JavaScript -->
	    <script th:src="@{/dist/js/custom.min.js}"></script>
	    <!--This page JavaScript -->
	    <script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
	    <script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
	    <script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
	    <script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
	    <script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>
	    <script th:src="@{/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/dist/js/pages/datatable/datatable-basic.init.js}"></script>
	</body>

</html>