<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms Details</title>
</head>
<body>

	<section>
		<div class="page-wrapper">
			<div th:if="${msg}" th:classappend="${msg.type}" class="alert" role="alert">
			  	<th:block th:text="${msg.content}"/>
			  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
			</div>
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Rooms Management</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                            <a href="add_room"><button type="button" class="btn btn-block btn-md btn-success">Add New Room Details</button></a>
                            <hr>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-hover table-bordered no-wrap">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Room No.</th>
                                                <th>Type</th>
                                                <th>No of students</th>
                                                <th>Fees</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="r : ${rooms}">
                                                <td th:text="${r.room_no}"></td>
                                                <td th:text="${r.room_type}"></td>
                                                <td th:text="${r.no_of_students}"></td>
                                                <td th:text="${r.room_fees}"></td>   
                                                <td>
                                                <form th:action="@{delete_room}" method="get">
                                                	<input type="hidden" th:value="${r.room_no}" name="r_id" id="r_id" />
                                                	<button type="submit" title="Delete Record" style="border:0; border-radius:40px"><i class="icon-close" style="color:red;"></i></button>
                                                </form>
                                                </td>
                                            </tr>
									    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
    
</body>
</html>